# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/libs
/obj
/tmp
/bin

# local gen tests
**/local-gen/**/out

# IDE
/.vscode
/.idea

# System Files
.DS_Store
Thumbs.db
/.vs/Interfaces/FileContentIndex
